*,
* ::before,
* ::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: indianred;
}

.box {
  width: 1440px;
  height: 250px;
  background-color: rgb(53, 147, 229);
  margin-top: 150px;
  display: flex;
}
.box-item {
  width: 95px;
  display: flex;
  transition: 1s width;
}
.box-item:hover {
  width: 470px;
}
.box-item-text {
  display: block;
  background-color: white;
  overflow: hidden;
}
.box-item-text-header, .box-item-text-p {
  display: block;
  width: 350px;
  margin: 0px 15px;
}
.box-item-text-header {
  margin-bottom: 10px;
  font-size: 45px;
  margin-top: 70px;
}
.box-item .box-item-forIcon:hover .box-text {
  display: block;
  width: 400px;
}
.box-item-forIcon {
  display: block;
  cursor: pointer;
}
.box-item-forIcon-uil, .box-item-forIcon::before {
  width: 95px;
  height: 250px;
  color: white;
  font-size: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-item-forIcon::before {
  content: "\ec0c";
  font-family: unicons-line;
  font-size: 45px;
  background-color: rgb(53, 164, 254);
  border-right: 1px solid rgb(59, 144, 240);
  overflow: hidden;
  position: absolute;
  transition: 0.4s width;
}
.box-item-forIcon:hover::before {
  width: 0px;
}
.box-item-forIcon-1 {
  background: linear-gradient(to bottom, #6dd5ed, #2193b0);
}
.box-item-forIcon-1::before {
  content: "\ec0c";
}
.box-item-forIcon-2 {
  background: linear-gradient(to bottom, #00B4DB, #0083B0);
}
.box-item-forIcon-2::before {
  content: "\ec5d";
}
.box-item-forIcon-3 {
  background: linear-gradient(to bottom, #93F9B9, #1D976C);
}
.box-item-forIcon-3::before {
  content: "\ec03";
}
.box-item-forIcon-4 {
  background: linear-gradient(to bottom, #F15F79, #B24592);
}
.box-item-forIcon-4::before {
  content: "\ec09";
}
.box-item-forIcon-5 {
  background: linear-gradient(to bottom, #1488cc, #2b32b2);
}
.box-item-forIcon-5::before {
  content: "\ec06";
}
.box-item-forIcon-6 {
  background: linear-gradient(to bottom, #acbb78, #799f0c);
}
.box-item-forIcon-6::before {
  content: "\ec0e";
}
.box-item-forIcon-7 {
  background: linear-gradient(to bottom, #e35d5b, #e53935);
}
.box-item-forIcon-7::before {
  content: "\e9df";
}/*# sourceMappingURL=main.css.map */